<%- include('partials/header') %>

<body>
  <div class="container mx-auto mt-4 ">
    <div class="container-fluid">
      <div class="row">
        <% arr.forEach(function(inarr) { %>
        <div class="col-md-4 top3 col-lg-4">
          
          <div class="card" style="width: 20rem;">
                  <img src= <%=inarr.img%> class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=inarr.title%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=inarr.subtitle%></h6>
        <p class="card-text"><%=inarr.summary%></p>
           <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
        <a href="#" class="btn "><i class="fab fa-github"></i> Add to Cart</a>
      </div>
      </div>
    </div>
      <% }); %>
        </div> 
      </div> 
    
    
</div>    

<%- include('partials/footer') %>
