<%- include('partials/header') %>

<div class="container mx-auto mt-4 query">
    <div class="container-fluid">
      <div class="row each-query">
        <% arr.forEach(function(inarr) { %>
        <div class="col-md-4 top3 col-lg-4">
          
          <div class="card">
      <div class="card-body every-card">
        <h5 class="card-title"><%=inarr.subject%></h5>   
        <h5 class="card-subtitle"><%=inarr.name%></h5>
        <h5 class="card-subtitle"><%=inarr.email%></h5>   
        <p class="card-text"><%=inarr.message%></p>
      </div>
      </div>
    </div>
      <% }); %>
        </div> 
      </div> 
    
</div>  

<%- include('partials/footer') %>
