<%- include('partials/header') %>

<body>

<div class="container mx-auto mt-4 ">
    <div class="container-fluid">
      <div class="row">
        <% arr.forEach(function(inarr) { %>
        <div class="col-md-4 top3 col-lg-4">
          
          <div class="card" style="width: 20rem;">
                  <img src= <%=inarr.img%> class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=inarr.title%></h5>   
        <p class="card-text"><%=inarr.summary%></p>
        <h6 class="card-subtitle mb-2 text-muted"><%=inarr.price%></h6>
           <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Details</a>
           <button class="btn mr-2"
           className="snipcart-add-item"
           data-item-id=<%=inarr._id%>
           data-item-price=<%=inarr.price%>
           data-item-url="/"
           data-item-description=""
           data-item-image=<%=inarr.img%>
           data-item-name=<%=inarr.title%>
         >
           Add to Cart
         </button>
      </div>
      </div>
    </div>
      <% }); %>
        </div> 
      </div> 
    
    
</div>  